CONSOLE_URL=https://kubefirst.kubefirst.dev
CHART_VERSION=0.3.0
DOCKER_TAG=62a9ad15e0036a02b7708ebbd618c8a43563c3d9
SECRET_ONE=secret_one
SECRET_TWO=secret_two
CONFIG_ONE=config_one
CONFIG_TWO=config_two
