apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vault
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "40"
spec:
  project: default
  source:
    repoURL: 'https://helm.releases.hashicorp.com'
    targetRevision: 0.22.0
    helm:
      values: |-
        server:
          affinity: ""
          ha:
            enabled: true
          dev:
            enabled: true
            devRootToken: "k1_local_vault_token"
          image:
            config: |
              ui = true
              listener "tcp" {
                tls_disable = 1
                address = "[::]:8200"
                cluster_address = "[::]:8201"
              }
              storage "s3" {
                bucket     = "<KUBEFIRST_STATE_STORE_BUCKET>"
                endpoint   = "https://objectstore.<CLOUD_REGION>.civo.com"
                region     = "<CLOUD_REGION>"
                s3_force_path_style = true
                path = "/vault-backend"
              }
              service_registration "kubernetes" {}
          ingress:
            enabled: true
            annotations: 
              cert-manager.io/cluster-issuer: "letsencrypt-prod"
            ingressClassName: "nginx"
            pathType: Prefix
            # When HA mode is enabled and K8s service registration is being used,
            # configure the ingress to point to the Vault active service.
            # activeService: true
            hosts:
              - host: vault.<DOMAIN_NAME>
            tls:
              - secretName: vault-tls
                hosts:
                  - vault.<DOMAIN_NAME>
          ui:
            enabled: true
            serviceType: "ClusterIP"
            serviceNodePort: null
            externalPort: 8200
    chart: vault
  destination:
    server: https://kubernetes.default.svc
    namespace: vault
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  ignoreDifferences:
  - group: admissionregistration.k8s.io
    kind: MutatingWebhookConfiguration
    jsonPointers:
    - /webhooks