apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: atlantis
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: '10'
spec:
  project: default
  source:
    repoURL: https://runatlantis.github.io/helm-charts
    chart: atlantis
    targetRevision: 4.11.2
    helm:
      values: |-
        image:
          repository: public.ecr.aws/kubefirst/atlantis
          tag: "0.0.5"
        statefulSet:
          annotations:
            secret.reloader.stakater.com/reload: "atlantis-secrets"
        atlantisUrl: https://atlantis.<DOMAIN_NAME>
        orgAllowlist: <ATLANTIS_ALLOW_LIST>
        hidePrevPlanComments: true
        serviceAccount:
          create: true
          mount: true
          annotations:
            eks.amazonaws.com/role-arn: 'arn:aws:iam::<AWS_ACCOUNT_ID>:role/atlantis-<CLUSTER_NAME>'
        resources:
          limits:
            cpu: 400m
            memory: 1Gi
          requests:
            cpu: 400m
            memory: 512Mi
        ingress:
          enabled: true
          annotations:
            <CERT_MANAGER_ISSUER_ANNOTATION_1>
            <CERT_MANAGER_ISSUER_ANNOTATION_2>
            <CERT_MANAGER_ISSUER_ANNOTATION_3>
            <CERT_MANAGER_ISSUER_ANNOTATION_4>
          path: /
          host: atlantis.<DOMAIN_NAME>
          ingressClassName: "nginx"
          tls:
            - secretName: atlantis-tls
              hosts:
                - atlantis.<DOMAIN_NAME>
        loadEnvFromSecrets:
          - atlantis-secrets
        repoConfig: |
          ---
          repos:
          - id: <ATLANTIS_ALLOW_LIST>
            workflow: default
            allowed_overrides: [apply_requirements]
            apply_requirements: [mergeable]
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: atlantis
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        maxDuration: 5m0s
        factor: 2
