apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: <WORKLOAD_CLUSTER_NAME>-provider-config
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: '0'
spec:
  project: default
  source:
    repoURL: <GITOPS_REPO_URL>
    path: registry/clusters/<WORKLOAD_CLUSTER_NAME>/provider-config
    targetRevision: HEAD
  destination:
    name: in-cluster
    namespace: crossplane-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
