apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: <WORKLOAD_CLUSTER_NAME>-environment
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: '45'
spec:
  project: default
  source:
    repoURL: <GITOPS_REPO_URL>
    path: registry/environments/<WORKLOAD_ENVIRONMENT>
    targetRevision: HEAD
  destination:
    name: in-cluster
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
